extends ../layout

block content
    .row   
        .col-sm-12
            .card
                .card-header
                    .row
                        .col-md-12
                            .row
                                .col-md-11
                                    | Residents per Case
                .card-body
                    table.table.table-hover
                        thead.thead-light
                            tr
                                th(width='10px') #
                                th Case
                                th Name
                                th.text-center Youngest Age Committed
                                th.text-center Oldest Age Committed
                                th.text-center Count
                        tbody
                            if residents
                                each resident, i in residents
                                    tr
                                        td 
                                            = i + 1
                                        td 
                                            = resident.case
                                        td
                                            ul
                                                each r in resident.names
                                                    li 
                                                        a(href='/residents/' + r._id + '/edit')
                                                            = r.name +' - '+r.age_committed
                                        td.text-center
                                            = resident.youngest
                                        td.text-center
                                            = resident.oldest
                            
                                        td.text-center
                                            = resident.count
