.col-md-12(style="margin-bottom:8px;")
    .row
        a(href='/residents/create').btn.btn-info.col-md-1.offset-md-7 New
        .col-md-4
            form(action='/residents',method='GET')
                input.form-control(placeholder='Search...',name='search_keyword',value=search_keyword)
